header {
    padding-top: 50px;
    padding-bottom: 50px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.container-fluid {
    position: relative;
    background: url('/img/fonDT.png') top / cover no-repeat;
    height: 80vh;
    z-index: -2;
}
.background {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.2;
    z-index: -1;
}
.container-fluid .row {
    height: 100%;
}
.head {
    flex-wrap: nowrap;
}
.card {
    border: none;
}
.promo {
    text-align: center;
}

a {
    text-decoration: none;
    padding-left: 10%;
    color: #fff;
    font-family: 'Montserrat', serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 50;
}
button {
    font-family: 'Montserrat', serif;
    font-size: 14px;
    font-weight: 700;
    background: none;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    color:  #fff;
}
p {
    font-size: 24px;
    font-family: 'Roboto',serif;
    font-weight: 300;
    color: white ;
}
h1 {
    font-family: 'Montserrat', serif;
    font-size: 52px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
}
.authorize {
    display: flex;
    justify-content: flex-end;
}
.btn-sign {
    height: 35px;
    border: 2px solid white;
    border-radius: 100px;
    padding-left: 10px;
    padding-right: 10px;
}
.start {
    width: 225px;
    line-height: 40px;
    background-color: #ff4e50;
    border-radius: 100px;
}
h2 {
    text-align: center;
    padding-top: 70px;  
    padding-bottom: 35px;
    font-size: 22px;
}
img {
    border-radius: 1000px;
}
h3 {
    font-family: 'Montserrat', serif;
    font-size: 14px;
    font-weight: 700;
}
.friends {
    max-width: 940px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.friend {
    text-align: center;
}
.friend p {
    color: #666;
    font-size: 14px;
}
.icon1, .icon2, .icon3, .icon4 {
    position: relative;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
}
.icon1::before, .icon2::before, .icon3::before, .icon4::before {
    content: '';
    display: block;
    position: absolute;
    right: -9px;
    bottom: -2px;
    background-color: #ff4e50;
    border-radius: 100px;
    border: 4px solid white;
    height: 40px;
    width: 40px;
    z-index: 100;
    background-image: url(/img/tv.png) ;
    background-repeat: no-repeat ;
    background-size: 26px 26px;
    
}
.icon2::before {
    background-color: #1cd7ad;
    background-image: url(/img/coffee-cup.png);
}
.icon3::before {
    background-color:#ffa507;
    background-image: url(/img/chemical.png);
}
.icon4::before {
    background-color:#4e73db;
    background-image: url(/img/telegram.png);
}
.butt {
    justify-content: center;
}
.find {
    width: 180px;
    height: 40px;
    color: #ff4e50;
    border: 2px solid #ff4e50;
    border-radius: 100px;
    margin-top: 40px;
    margin-bottom: 75px;
}
@media(max-width:769px) {
    .friends {
        max-width: 490px;
    }
}
@media(max-width:426px) {
    header {
        padding-top: 30px;
    }
    header a {
        padding: 0;
    }
    .container-fluid {
        height: 100vh;
    }
    .label {
        text-align: center;
        position: absolute;
        margin-top: 175px;
    }
    .authorize {
        justify-content: center;
    }
    .promo {
        padding-top: 75px;
    }
    .promo p {
        max-width: 375px;
        margin-left: auto;
        margin-right: auto;
    }
    h1 {
        font-size: 30px;
    }
    .start  {
        width: 280px;
    }
    
}